<!--
  Generated template for the ChaptersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chapters</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item *ngFor="let chapter of chaptersProvider.chapters" (click)="openChapter(chapter.id)">
      <img item-start imageSize src="assets/imgs/makkah.png" *ngIf="chapter.revelation_place == 'makkah'">
      <img item-start imageSize src="assets/imgs/madina.png" *ngIf="chapter.revelation_place == 'madinah'">
      <p item-end>
        {{chapter?.name_arabic}}
      </p>
      <h2>{{chapter?.chapter_number}}. {{chapter?.name_simple}}</h2>
      <h3>{{chapter?.translated_name?.name}}</h3>
    </ion-item>
  </ion-list>

</ion-content>
