page-search {
    [centerAlignment] {
        text-align: center;
    }

    .item{
        font-size: 1.5rem !important; 
        border: solid !important;
        border-color: #c7bebe !important;
        border-width: 1px !important;
        border-radius: 5px !important;
        box-shadow: 0,0,15 !important;    
    }
    
    
    
}
